extends bootstrap_base
block head
  title 用户登录
block content
  .container
    .row
      .col-xs-12.col-md-4.col-md-offset-4
        br
        br
        br
        .form-group
          label(for="exampleInputEmail1") 邮箱地址
          input.form-control(type="email" id="email" aria-describedby="emailHelp" placeholder="Enter email")
          small.text-muted We'll never share your email with anyone else.
        .form-group
          label(for="exampleInputPassword1") 密码
          input.form-control(type="password" id="password" placeholder="Password")
        .form-group
          small.text-muted(id="emailHelp") 没有账号？
            a(href='/register').text-success 去注册
        button.btn.btn-success.btn-block#submit(onclick="submit()") 提交

block scripts
  script(src='/js/script_login.js')
